<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <package name="com.bank.pojo"/>
    </typeAliases>

    <environments default="default">
        <environment id="default">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
                <property name="username" value="jiang"/>
                <property name="password" value="bjsxt"/>
            </dataSource>

        </environment>
    </environments>

    <mappers>
        <mapper resource="com/bank/mapper/LogMapper.xml"></mapper>
        <mapper resource="com/bank/mapper/Accountmapper.xml" ></mapper>
    </mappers>
</configuration>